<p class="text-center mt-2">
  <%= link "Employees", class: "button-gray mr-1", to: Routes.fulfilment_path(@conn, :employees) %>
  <%= link "Settings", class: "button-gray", to: Routes.fulfilment_path(@conn, :settings) %>
</p>
