<h2 class="text-center mt-2">Opening Friday Night!</h2>
<p class="text-center mt-4">DenDash will be opening for deliveries on Friday at 10:00 pm.</p>
<p class="text-center">Delivery will be free on Friday!</p>
