@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
	@apply underline text-blue-700;
}

h1 {
	@apply text-3xl text-center;
}

li {
	@apply my-2;
	text-indent: -1.5em;
	margin-left: 1.5em;
}

li::before {
	content: "👉 ";
}

.button {
	@apply no-underline border-2 bg-red-300 py-1 px-4 rounded text-red-800 border-red-800;
	cursor: pointer;
}

.button-blue {
	@apply no-underline border-2 bg-blue-300 py-1 px-4 rounded text-blue-800 border-blue-800;
	cursor: pointer;
}

.invalid-feedback {
	@apply text-red-600 font-bold;
}
