<%= if length(@orders) == 0 do %>
  You don't have any orders yet.
  Would you like to <%= link "submit a new one", to: Routes.order_path(@conn, :order_form) %>?
<% else %>
  <ul>
    <%= for order <- @orders do %>
      <li><%= link "Order #{order.number}", to: Routes.order_path(@conn, :show, order.id) %></li>
    <% end %>
  </ul>
<% end %>
