<p>DenDash received the payment for this order! It will be delivered during the next delivery window.</p>
<p class="text-center mt-2"><%= link "Home", class: "button-gray", to: Routes.page_path(@conn, :index) %></p>
