<%= if @order.paid do %>
  <p class="text-green-700 font-bold">PAID</p>
<% else %>
  <p>
    <b class="text-red-600">NOT YET PAID</b>.
    <%= link "Pay now", to: Routes.order_path(@conn, :pay, @order.id) %>.
  </p>
<% end %>
