<h1 class="font-riffic text-center text-6xl mt-4 mb-4">The Den,<br>Delivered.</h1>

<div class="flex flex-col items-center">
  <ol class="text-lg">
    <li>1. Order from The Den on GrubHub</li>
    <li>2. Submit to DenDash</li>
    <li>3. Pick up in Carlton Commons</li>
  </ol>

  <%= link "Get Started", class: "button-green mt-5", to: Routes.login_path(@conn, :login) %>
</div>
