<ul>
  <li><%= link "Place an order", to: Routes.order_path(@conn, :order_form) %></li>
  <li><%= link "View my orders", to: Routes.order_path(@conn, :list) %></li>
</ul>
<p>Logged in as <%= @me.caseid %>.</p>
