<h2>Contact</h2>
<p>
  If you would like to get in touch, you can reach us by emailing Simon at
  <a href="mailto:srs266@case.edu?subject=DenDash">srs266@case.edu</a>.
</p>

<h2 class="mt-2">Refunds</h2>
<p>If your order doesn't get delivered or if you have any other issues, please let us know and we'll happily give you a refund.</p>
